*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --cell-size: 200px;
  --mark-size: calc(var(--cell-size) * 0.9);
  --title-center: 50px;
  --buttons-size: calc(var(--title-center) * 0.5);
}

body {
  margin: 0px;
}

h1 {
  font-size: var(--title-center);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1em;
  padding: 2em;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: rgb(14, 107, 107);
  color: beige;
}

.game-board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
  background-color: lightgray;
  margin-top: 0px;
}

.square {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  font-size: var(--mark-size);
  border: solid 1px;
  border-color: black;
}

.square.X,
.square.O {
  cursor: not-allowed;
}

.square:nth-child(n + 1) {
  border-top: none;
}

.square:nth-child(n + 7) {
  border-bottom: none;
}

.square:nth-child(3n + 1) {
  border-left: none;
}

.square:nth-child(3n) {
  border-right: none;
}

.init-page {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: lightgray;
}

.init-page p {
  color: black;
  font-size: var(--title-center);
}

.init-page button {
  cursor: pointer;
  border: none;
  margin: 0em 2em;
  font-size: var(--buttons-size);
  padding: 1em;
  transition-duration: 2s;
}

.init-page button:hover {
  transform: scale(1.2);
  transition-duration: 2s;
}

.hidden {
  display: none;
}
